<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='css/generic.css') }}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper fadeInDown m-5">
        <div id="formContent" class="pt-3">
            <!-- Login Form -->
            <form action="{{ url_for('login_page') }}" method="post">
                <input type="text" class="fadeIn second" name="identifier" placeholder="Phone Number">
                <input type="password" class="fadeIn third" name="password" placeholder="Password">
                <input type="submit" class="fadeIn fourth" id="submit" name="submit" value="Login">
            </form>
            

        </div>
    </div>
</body>

</html>